MYSQL_USER=insert_db_user_here
MYSQL_PASSWORD=insert_db_password_here
MYSQL_ROOT_PASSWORD=insert_root_password_here

MONGO_USER=insert_mongo_user_here
MONGO_PASSWORD=insert_mongo_password_here

JWT_SECRET=insert_your_jwt_secret_here

GRAFANA_ADMIN_USER=insert_grafana_admin_user_here
GRAFANA_ADMIN_PASSWORD=insert_grafana_admin_password_here